body { /* For some reason margin isn't automatically 0... */
    padding: 0;
    margin: 0;
}

/* Learning flex from this website: https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
/*Flex all items 100% width*/
body {
    display: flex;
    flex-flow: row wrap;
}

#header, #main, .top, #footer, .text-page {
    flex: 1 100%;
}

#main {
    display: flex;
    flex-flow: row;
}

/* end basic flex stuff */

#header, #top #footer, #main{
    border: 3px solid #020202;
    margin: 0px;
}
#header {
    text-align: center;
    font-family: fantasy;
    background: #123634 url("images/index/me.png") center center/100px auto no-repeat;
    color: brown;
    text-shadow: 7px 10px 1px #110000;
}

.profile-image {
    border: 4px solid green;
    width: 100px;
    height: 100px;
}

.text-page {
    float: right;
    background-color: beige;
    font-size: 1.3em;
    font-weight: bolder;
    padding: 20px;
}

.text-page p {
    text-indent: 1em; /*Tab at beginning of paragraph*/
    padding-left: 1em;
    padding-right: 4em;
    background-color: #f2f3f2;
}

.text-page>ul>li {
    font-size: larger;
}

#top {
    background-color: aquamarine;
}

#footer {
    clear: both;
    background-color: coral
}